body {
  font-family: "Yantramanav", sans-serif;
}

h1 {
  text-align: center;
  font-size: 120px;
  position: relative;
  color: whitesmoke;
  top: 60px;
  left: 50px;
  padding-top: 50px;
}

form {
  padding: 26px;
  position: relative;
  top: -32px;
  left: -30px;
}

.container {
  margin-top: 100px;
  margin-right: 105px;
  background-image: url(image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 15px 0;
  border-radius: 30px;
}

#search-box {
  line-height: 2.1;
  width: 250px;
  border: 2px solid #a3a3a3;
  border-radius: 5px;
}

#search-box:hover {
  box-shadow: inset 0 0 10px grey;
}

.btn {
  color: white;
  border: 2px solid #a3a3a3;
}

#celsius-link,
#fahrenheit-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  left: 20px;
}

#high-and-low {
  text-align: right;
  color: aliceblue;
  font-size: 18px;
  position: relative;
  right: 20px;
}

#city {
  text-align: center;
  color: white;
  position: relative;
  bottom: -15px;
  left: 27px;
}

#description {
  text-align: center;
  color: black;
  position: relative;
  bottom: -15px;
  right: 50px;
}

#description:first-letter {
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: 135px;
  left: 40px;
}

#current-date {
  position: relative;
  top: 52px;
  left: 20px;
  padding-bottom: 50px;
}

.weather-details p {
  display: inline;
}

#degree-real-feel {
  margin-left: 200px;
}

#humidity-level {
  margin-left: 199px;
}

#wind-speed {
  margin-left: 226px;
}

#precipitation-chances {
  margin-left: 177px;
}

.weather-forecast p {
  display: inline;
}

.temperature-first-day {
  margin-left: 150px;
}

.temperature-second-day {
  margin-left: 171px;
}

.temperature-third-day {
  margin-left: 178px;
}

.temperature-fourth-day {
  margin-left: 173px;
}

.temperature-fifth-day {
  margin-left: 174px;
}

#footer {
  margin-left: 130px;
}

#footer a {
  text-decoration: none;
  font-weight: bolder;
}

#footer a:hover {
  text-decoration: underline;
}
